body{
    font-family: "Montserrat";
    background-color: rgb(214, 207, 196);
}
.h2{
    font-family: "Montserrat";
    font-weight: 200;
}
.indexImg{
    position: absolute;
    float: left;
    margin-top: -140px;
}
.index_img{
    width: 55%;
    border-radius: 5px;
    z-index: 1;}
.imgSrc{
    background-color: rgba(0, 0, 0, 50%);
    padding: 0px 10px 3px 5px;
    color: rgba(240, 248, 255, 85%);
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: small;
    border-end-end-radius: 50px;
    cursor: default;
}
.imgSrc > a{
    color: rgba(240, 248, 255, 85%);
    text-decoration: none;
}
.fact > h3{
    z-index: 99;
}
.fact{
    position: relative;
    border-radius: 5px;
    background-color: rgba(139, 0, 0, 75%);
    width: 200px;
    height: 150px;
    margin-top: 150px;
    margin-left: 15px;
    padding: 5px;
}
.header_text{
    float: right;
    text-align: right;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: darkgray;
    width: 42%;
    height: 253px;
    margin-right: 10px;
    padding: 10px;
}